@use "Styles/Global" as global;
@import "Styles/Global.scss";
@import "Styles/InformationHeader.scss";
@import "Styles/NavigationHeader.scss";
@import "Styles/SlideShow.scss";
@import "Styles/InformationBanner.scss";
@import "Styles/TopBrandsHeader.scss";
@import "Styles/Dropdown.scss";
@import "Styles/DropdownButton.scss";
@import "Styles/Buttons.scss";
@import "Styles/BestSellersHeader.scss";
@import "Styles/BestSellers.scss";
@import "Styles/Display.scss";
@import "Styles/DisplayHeader.scss";
@import "Styles/CustomersFavouriteHeader.scss";
@import "Styles/ProductSearch.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
@import "react-slideshow-image/dist/styles.css";
@import "rsuite/dist/rsuite.min.css";
//@import "path";