.BestSellersHeader {
    @extend .header;
    background-color: global.$grey;
    min-height: 150px;
}

.BestSellersHeaderList{
    @extend .horizontalList;
    @extend .list;
}

.BestSellersHeaderText {
    @extend .list;
    @extend .text;
    color: $grey-dark;
    font-size: 42px;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}