.displayElementHeader {
    @extend .header;
}

.displayElementHeaderList {
    @extend .list;
    justify-content: flex-end;
    min-height: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.displayElementHeaderText {
    @extend .list;
    @extend .text;
    text-align: center;
    color: $grey-dark;
    font-size: 42px;
    font-weight: bolder;
    margin: auto;
}

.displayElementHeaderDropdownButton {
    margin: auto;
}