.DropdownButtonContainerMain {
    position: relative;
    display: inline-block;
}

.DropdownButtonMain {
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}