$red: #DC1830;
$grey: #D9D9D9;
$grey-dark: #323031;
$grey-light: #F3F4F8;
$cyan: #177E89;
$yellow: #FFC857;

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rbga(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey;
    border-radius: 10px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontalList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontalListEntry {
    display: block;
    float: right;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.listEntry {
    margin-left: 15px;
    margin-right: 15px
}

.text {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}