.NavigationHeader {
    @extend .header;
    min-height: 250px;
}

.NavigationHeaderList {
    @extend .horizontalList;
    @extend .list;
}

.NavigationHeaderListEntry {
    @extend .horizontalListEntry;
    margin: auto;
}

.NavigationHeaderProductList {
    @extend .horizontalList;
    @extend .list;
}

.NavigationHeaderProductListEntry {
    @extend .horizontalListEntry;
    @extend .listEntry;
}

.NavigationHeaderProductListButton {
    background-color: transparent;
}

.NavigationHeaderAccountList {
    @extend .horizontalList;
    @extend .list;
}

.NavigationHeaderAccountListEntry {
    @extend .horizontalListEntry;
    @extend .listEntry;
}