.ProductSearchWindow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0%;
    min-width: 1000px;
    min-height: 200px;
    z-index: 2;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.33);
}

.ProductSearchContainer {
    position: relative;
    display: inline-block;
}

.ProductSearchInputs {
    @extend .list;
    justify-content: flex-end;  
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProductSearchInputButton {
    @extend .buttonDropdown;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    color: global.$grey-dark;
    background-color: white;
    text-align: left;
}

.ProductSearchWindowHeader {
    @extend .text;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: global.$grey-dark;
    padding-bottom: 10px;
}

.ProductSearchWindowContents {
    @extend .list;
}

.ProductSearchDropdownButton {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.ProductSearchHeaderDropdownButton {
    @extend .ProductSearchDropdownButton;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 24px;
}

// .ProductSearchInputListEntries {
//
// }

.ProductSearchInputListButtonEntries {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: global.$grey-dark;
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 4px;

    &:hover {
        background-color: global.$grey-light;
        font-weight: 600;
    }
}

.ProductSearchInputDropdown {
    @extend .DropdownMain;

    border-radius: 4px;
}

.ProductSearchInputDropdownList {
    @extend .DropdownListMain;

    min-height: 0px;
    max-height: 150px;
}

.ProductSearchButtonHeader {
    @extend .horizontalList;
    @extend .list;
    width: 100%;
}

.ProductSearchButton {
    @extend .redButton;
    font-size: 18px;
    min-height: 45px;
    min-width: 125px;
}

.ProductSearchHeader {
    @extend .list;

    flex-direction: column;
    margin: auto;
    background-color: global.$grey;
}

.ProductSearchHeaderText {
    @extend .ProductSearchWindowHeader;
    font-size: 46px;
    padding-top: 10px;
}

@media (max-width: 1000px) {
    .ProductSearchWindow {
        min-width: 800px;
    }
}

@media (max-width: 800px) {
    .ProductSearchWindow {
        min-width: 600px;
    }
}

@media (max-width: 600px) {
    .ProductSearchWindow {
        min-width: 400px;
    }
}

@media (max-width: 400px) {
    .ProductSearchWindow {
        min-width: 250px;
    }
}